
.forget a
{
	color: #fff;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.forget a:hover
{
    color: skyblue;
}
.forget
{
    position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:350px;
	height:440px;
	padding:80px 40px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.5) ;
	border-radius:10px;	
}
.forget h2
{
   margin:0;
	padding:0 0 20px;
	color:#fff;
	text-align:center;
}
.forget h5
{
  margin:0;
	padding:0 0 20px;
	color:#fff;
	text-align:center;
}
.forget input
{
	width:100%;
	margin-bottom: 20px;
}	
.forget input[type=text]
{
    border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size: 16px;
}

.forget input[type=button]
{
   	border:none;
	outline:none;
	height: 40px;
	color:#fff;
	font-size:16px;
	background: rgb(255,38,126);
	cursor:pointer;
	border-radius:20px;
}
.forget input[type=button]:hover
{
   background: #efed40;
	color: #262626;
}
::placeholder {
	color:rgba(255,255,255,0.5); 
}
